shamefully-hoist=true
ignore-workspace-root-check=true
registry=https://registry.npmjs.org

@rapidlaunch-it:registry=https://npm.pkg.github.com
//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/rapidlaunch-it/:_authToken=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